<div class="border-b-2">
    <div class="p-2 md:p-4">
        <span class="text-3xl">Technical Skills</span>
        <div class="flex flex-col">
            <div class="p-2">
                <p class="text-l">Languages & Frameworks</p>
                <div class="flex flex-row flex-wrap gap-2">
                    {{ range .Languages }}
                        {{ . }}
                    {{ end }}
                </div>
            </div>
            <div class="p-2">
                <p class="text-l">Databases & Data</p>
                <div class="flex flex-row flex-wrap gap-2">
                    {{ range .Databases }}
                        {{ . }}
                    {{ end }}
                </div>
            </div>
            <div class="p-2">
                <p class="text-l">Tools & Platforms</p>
                <div class="flex flex-row flex-wrap gap-2">
                    {{ range .Tools }}
                        {{ . }}
                    {{ end }}
                </div>
            </div>
            <div class="p-2">
                <p class="text-l">Testing & Deployment</p>
                <div class="flex flex-row flex-wrap gap-2">
                    {{ range .Testing }}
                        {{ . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
